.divPrincipal {
    /*background-color: black;*/
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.presentacionEmpresa {
    /*background-color: aqua;*/
    text-align: center;
    width: 90%;
    margin: 30px;
    margin-bottom: 50px;
}

.divCarrusel {
    display: flex;
    min-height: 190px;
    width: 90%;
    max-width: 900px;
    max-height: 300px;
    height: 45vw;
    align-items: center;
}

.divBoton {
    height: 100%;
    display: flex;
    align-items: center;
}

.divImagen {
    flex: 1;
    height: 100%;
    width: min-content;
    /* Para recortar cualquier contenido que se salga del div */
}

.divImagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}

.titJuego {
    margin: 0px;
}



.divDatosJuego {
    flex: 2;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.pJuego {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;

}