.divPrincipal {
    /*background-color: black;*/
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.presentacionEmpresa {
    /*background-color: aqua;*/
    text-align: center;
    width: 90%;
    margin: 30px;
    margin-bottom: 50px;
}

.divCarrusel {
    display: flex;
    flex-wrap: wrap;
    min-height: 190px;
    width: 90%;
    max-width: 900px;
    max-height: 300px;
    height: 30vw;
}