.divPrincipal {
    display: flex;
    justify-content: center;
}

.divJuegos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: left;
}

.divJuegos div {

    flex: 1;
    min-width: 291.667px;
    min-height: 305.903px;
    max-width: 430px;
    max-height: 430px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.divJuegos div a img {
    width: 90%;
    border-radius: 3%;
    box-shadow: 1ch;
    box-shadow: 4px 4px 8px black;
}

.divJuegos div:hover {
    transform: scale(1.03);
}

.divJuegos div a h2 {
    width: 100%;
    margin: 0;
    margin-top: 15px;
}